     	<div id="secondary" class="four columns end">
        	<aside id="sidebar">

				<div class="widget widget_categories">
                	<h5 class="widget-title"><a href="{{ site.url }}/blog/index.html">Latest Posts</a></h5>
                		<ul class="link-list cf">
						{% for post in site.posts limit: 5 %}
							<li><a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endfor %}
						</ul>
				</div>
            
				<div class="widget widget_categories">
                	<h5 class="widget-title"><a href="{{ site.url }}/blog/archive/index.html">Archive</a></h5>
                		<ul class="link-list cf">
						{% capture months %}
							{% for post in site.posts %}
								{{ post.date | date: '%B,%Y'}}
							{% endfor %}
						{% endcapture %}
						{% for month in months %}
							{% assign monthdates = month | split: ' ' %}
						{% endfor %}
						{% for post in site.posts %}
							{% capture month %}{{ post.date | date: '%B,%Y' }}{% endcapture %}
							{% capture nmonth %}{{ post.next.date | date: '%B,%Y' }}{% endcapture %}
							{% if month != nmonth %}
							    {% assign counter = '0' %}
								{% for m in monthdates %}
									{% if m == month %}
										{% capture counter %}{{ counter | plus: '1' }}{% endcapture %}
									{% endif %}
								{% endfor %}
								<li><a href="{{ site.url }}/blog/archive/index.html#{{ month| date: '%B %Y' }}">{{ month| date: '%B %Y' }} ({{ counter }})</a></li>
							{% endif %}
						{% endfor %}
						</ul>
				</div>

				<div class="widget widget_categories">
					<h5 class="widget-title"><a href="{{ site.url }}/blog/categories/index.html">Categories</a></h5>
                  		<ul class="link-list cf">
						{% capture categories %}
							{% for category in site.categories %}
								{{ category[0] }}
							{% endfor %}
						{% endcapture %}
						{% assign sortedcategories = categories | split:' ' | sort %}
						{% for category in sortedcategories %}
							<li><a href="{{ site.url }}/blog/categories/index.html#{{ category }}">{{ category }}</a> ({{ site.categories[category] | size }})</li>
						{% endfor %}
						</ul>
				</div>

				<div class="widget widget_tag_cloud">
					<h5 class="widget-title"><a href="{{ site.url }}/blog/tags/index.html">Tags</a></h5>
                	<div class="tagcloud cf">
						{% capture tags %}
							{% for tag in site.tags %}
								{{ tag[0] }}
							{% endfor %}
						{% endcapture %}
						{% assign sortedtags = tags | split:' ' | sort %}
						{% for tag in sortedtags %}
							<a href="{{ site.url }}/blog/tags/index.html#{{ tag }}">{{ tag }}: ({{ site.tags[tag] | size }})</a>
						{% endfor %}
					</div>
               </div>

            </aside> <!-- Sidebar End -->

		</div> <!-- secondary end -->
